---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import FeatureCard from '../components/FeatureCard.astro';
---

<Layout title="Homiexide - Home">

    <main class="relative z-10">
        <section class="max-w-[1000px] mx-auto px-6 pt-28 pb-20 text-center">
            <h1 class="text-[28px] md:text-[38px] font-bold tracking-tight mb-3 leading-tight text-white">
                More than just community. Homiexide is<br class="hidden md:block" /> where we growing up together.
            </h1>
            <p class="text-[14px] text-gray-400 italic font-medium tracking-wide">
                If you wanna be the one of us, don't hesitate to reach out. We are always open for everyone, join us!
            </p>
        </section>

        <section class="max-w-[1200px] mx-auto px-6 pb-32">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
                <FeatureCard 
                    iconName="Community" 
                    title="Homiexide" 
                    description="The epicenter of the GTA SA Multiplayer scene. We provide a space to share Roleplay experiences. If you're looking for a family to grow up together with in the virtual worlds, this is your home." 
                    buttonText="Get in touch" 
                />
                <FeatureCard 
                    iconName="YBR" 
                    title="Young Boys Records" 
                    description="A independent music label existing within GTA San Andreas Multiplayer Roleplay as an In Character (IC) entity. Making it not just entertainment but a dynamic representation of a living, character-driven music industry." 
                    buttonText="Tracks" 
                />
                <FeatureCard 
                    iconName="Skins" 
                    title="Skins Catalogue" 
                    description="The epicenter of the GTA SA Multiplayer scene. We provide a space to share Roleplay experiences. If you're looking for a family to grow up together with in the virtual worlds, this is your home." 
                    buttonText="Browse" 
                />
                <FeatureCard 
                    iconName="Modpacks" 
                    title="GTA SA Modpacks" 
                    description="The epicenter of the GTA SA Multiplayer scene. We provide a space to share Roleplay experiences. If you're looking for a family to grow up together with in the virtual worlds, this is your home." 
                    buttonText="Browse" 
                />
            </div>
        </section>
    </main>
</Layout>